@layout('layout.app')

@section('content')
    @set('title', 'Products list')
    
    <ul>
        @each(product in products)
          <li> {{ product.name }} </li>
        @endeach
    </ul>
@endsection